.card__title {
    margin: auto;
    margin-top: 10px;
    max-width: 284px;
    height: 40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

 
@media screen and (max-width: 768px) {
    .card__title {
      max-width: 220px;
      height: 44px;
      line-height: 22px;
    }
  }