.tab__item_active {
    /* margin: 0 auto;
    padding: 0; */
    max-width: 550px;
    height: 40px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    background: none;
}

@media screen and (max-width: 768px) {
    .tab__item_active {
        max-width: 315px;
        max-height: 26px;
        font-size: 18px;
        line-height: 26px;
    }
  }