.card__amount_count {
    width: 30px;
    background-color: #FFFFFF;
    border: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #4C4E50; 
}